extends layout
block title
  | 标签管理
block content
  #content.row(ng-controller="TagCtrl")
    ol.breadcrumb.marginTop
      li 百变壁纸后台
      li 标签管理
    .btn-group(role="group")
      button.btn.btn-default.btn-sm 新建
    table.list.marginTop
      tr
        th 名称
        th 封面
        th 所属标签
        th 创建时间
      tr(ng-repeat="item in list")
        td {{item.name}}
        td: img(ng-src="{{item.cover}}")
        td {{item.tag ? item.tag.name : "无"}}
        td {{item.createdAt}}
