extends layout
- var page = 3
block title
  | 主题管理
block content
  #content.row(ng-controller="ThemeCtrl")
    ol.breadcrumb
      li: a(href="/") 首页
      li 主题管理
    .btn-group(role="group")
      button.btn.btn-default.btn-sm(ng-click="show_edit()") 新建
    .btn-group.pull-right(role="group")
      button.btn.btn-default.btn-sm(ng-click="params.sstatus = 0; fetch()", ng-class="{active: params.sstatus == 0}") 有效
      button.btn.btn-default.btn-sm(ng-click="params.sstatus = 1; fetch()", ng-class="{active: params.sstatus == 1}") 无效
    table.list.marginTop
      tr
        th 名称
        th 封面
        th 用户
        th 创建时间
        th 编辑
      tr(ng-repeat="item in list")
        td {{item.name}}
        td: img.cover(ng-src="{{item.cover.url}}")
        td {{item.user.nickname}}
        td {{item.createdAt}}
        td.text-center(width=150)
          button.btn.btn-default.btn-xs(ng-click="show_wps(item)") 壁纸
          button.btn.btn-default.btn-xs(ng-click="show_edit(item)") 修改
          button.btn.btn-default.btn-xs(ng-click="show_edit_status(item)") {{params.sstatus == 0 ? "弃用" : "启用"}}
      tr(ng-show="list.length == 0")
        td.nodata(colspan="5") 没有相关数据
    #pager
    #wps.modal.fade(role="dialog", data-backdrop="static")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            button.close(data-dismiss="modal")
              span &times;
            h4.modal-title 编辑
          .modal-body.clearfix
            .col-xs-4
              .input-group
                input.form-control(ng-model="search_params.key")
                .input-group-btn
                  button.btn.btn-default(ng-click="search_wps()") 搜索
              .list-group.marginTop
                .list-group-item.search_item(ng-repeat="item in swps", ng-click="add_wp(item.id)")
                  img.swps(ng-src="{{item.image}}")
                  span &nbsp;{{item.name}}
                .list-group-item.nodata(ng-show="swps.length == 0") 没有相关数据
              .btn-group(role="group")
                button.btn.btn-default.btn-sm(ng-click="search_wps(false)", ng-disabled="search_params.page == 0 || search_params.key == ''") 上一页
                button.btn.btn-default.btn-sm(ng-click="search_wps(true)", ng-disabled="search_params.page >= swps_page_count || search_params.key == ''") 下一页
            .col-xs-8
              table.list
                tr
                  th 名称
                  th 封面
                  th 创建时间
                  th(width=80) 编辑
                tr(ng-repeat="item in wps")
                  td {{item.name}}
                  td: img.wallpaper(ng-src="{{item.image}}")
                  td {{item.createdAt}}
                  td.text-center
                    button.btn.btn-default.btn-xs(ng-click="remove_wp(item)") 移除
                tr(ng-show="wps.length == 0")
                  td.nodata(colspan="4") 没有相关数据
              #wps-pager
          .modal-footer
            button.btn.btn-sm.btn-danger(data-dismiss="modal") 取消
    #editor.modal.fade(role="dialog", data-backdrop="static")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(data-dismiss="modal")
              span &times;
            h4.modal-title 编辑
          .modal-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 用户：
                .col-sm-9
                  .dropdown
                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                      | {{edit_item.user ? edit_item.user.nickname : "请选择"}}&nbsp;
                      span.caret
                    ul.dropdown-menu
                      li(ng-repeat="user in users", ng-click="edit_item.user = user")
                        a(href="javascript:void(0)") {{user.nickname}}
              .form-group
                label.col-sm-2.control-label 名称：
                .col-sm-9
                  input.form-control(ng-model="edit_item.name")
              .form-group
                label.col-sm-2.control-label 封面：
                .col-sm-9
                  button#btn_upload.btn.btn-default(ng-click="upload()", data-loading-text="上传中...") 上传
                  br(ng-show="edit_item.cover")
                  img.upload_preview(ng-src="{{edit_item.cover.origin_url}}", ng-show="edit_item.cover")
              .form-group
                label.col-sm-2.control-label 描述：
                .col-sm-9
                  textarea.form-control(ng-model="edit_item.description")
          .modal-footer
            button.btn.btn-sm.btn-danger(data-dismiss="modal") 取消
            button.btn.btn-sm.btn-primary(ng-click="update(edit_item)", ng-disabled="!input_all()") 确定