extends layout
- var page = 2
block title
  | 壁纸管理
block content
  #content.row(ng-controller="WallpaperCtrl")
    ol.breadcrumb
      li: a(href="/") 首页
      li 壁纸管理
    .btn-group(role="group")
      button.btn.btn-default.btn-sm(ng-click="show_edit()") 新建
    .btn-group.pull-right(role="group")
      button.btn.btn-default.btn-sm(ng-click="params.sstatus = 0; fetch()", ng-class="{active: params.sstatus == 0}") 有效
      button.btn.btn-default.btn-sm(ng-click="params.sstatus = 1; fetch()", ng-class="{active: params.sstatus == 1}") 无效
    table.list.marginTop
      tr
        th 名称
        th 图片
        th 用户
        th 标签
        th 创建时间
        th 编辑
      tr(ng-repeat="item in list")
        td {{item.name}}
        td: img.wallpaper(ng-src="{{item.image.url}}")
        td {{item.user.nickname}}
        td: span.label.tagMarginRight(ng-repeat="tag in item.tags", ng-class="{'label-info': $index % 5 == 0, 'label-primary': $index % 5 == 1, 'label-success': $index % 5 == 2, 'label-warning': $index % 5 == 3, 'label-danger': $index % 5 == 4}") {{tag.name}}&nbsp;
        td {{item.createdAt}}
        td.text-center(width=100)
          button.btn.btn-default.btn-xs(ng-click="show_edit(item)") 修改
          button.btn.btn-default.btn-xs(ng-click="show_edit_status(item)") {{params.sstatus == 0 ? "弃用" : "启用"}}
      tr(ng-show="list.length == 0")
        td.nodata(colspan="6") 没有相关数据
    #pager
    #editor.modal.fade(role="dialog", data-backdrop="static")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(data-dismiss="modal")
              span &times;
            h4.modal-title 编辑
          .modal-body
            .form-horizontal
              .form-group
                label.col-sm-2.control-label 标签：
                .col-sm-9
                  .checkbox.pull-left.paddingRight.dropdown(ng-repeat="tag in tag_filter(null)")
                    label
                      input(type="checkbox", ng-model="tag.checked", ng-change="tag_checked()")
                      | {{tag.name}}&nbsp;&nbsp;
                    a(href="javascript:void(0)", ng-click="toggle_tags($event, $index)"): i.fa.fa-plus-square-o
                    ul.tag-children.dropdown-menu
                      li.dropdown-header {{tag.name}}的下级标签
                      li.paddingLeft(ng-repeat="ctag in tag_filter(tag.id)")
                        label
                          input(type="checkbox", ng-model="ctag.checked", ng-change="tag_checked()")
                          | {{ctag.name}}&nbsp;&nbsp;
              .form-group
                label.col-sm-2.control-label 用户：
                .col-sm-9
                  .dropdown
                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                      | {{edit_item.user ? edit_item.user.nickname : "请选择"}}&nbsp;
                      span.caret
                    ul.dropdown-menu
                      li(ng-repeat="user in users", ng-click="edit_item.user = user")
                        a(href="javascript:void(0)") {{user.nickname}}
              .form-group
                label.col-sm-2.control-label 名称：
                .col-sm-9
                  input.form-control(ng-model="edit_item.name")
              .form-group
                label.col-sm-2.control-label 图片：
                .col-sm-9
                  button#btn_upload.btn.btn-default(ng-click="upload()", data-loading-text="上传中...") 上传
                  br(ng-show="edit_item.image")
                  img.upload_preview(ng-src="{{edit_item.image.origin_url}}", ng-show="edit_item.image")
              .form-group
                label.col-sm-2.control-label 价格：
                .col-sm-9
                  input.form-control(ng-model="edit_item.price", type="number", min="0")
          .modal-footer
            button.btn.btn-sm.btn-danger(data-dismiss="modal") 取消
            button.btn.btn-sm.btn-primary(ng-click="update(edit_item)", ng-disabled="!input_all()") 确定